h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

ul, ol {
  margin-left: 20px;
}

ol li {
  list-style-type: decimal;
}

li {
  list-style-type: disc;
}

a {
  text-decoration: underline;
}

img {
  margin: 0 auto;
}

blockquote {
  padding: 1rem;
  border-radius: 8px;
}

.dark a {
  color: violet;
  text-decoration: underline;
}

.dark blockquote {
  background-color: #18181b;
}

.light a {
  color: blueviolet;
}

.light blockquote {
  border: 2px solid black;
}